* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header{
  text-align: center;
  color: white;
  position:sticky;
  top:0;
  z-index: 11;
  background-color: black;
}

header h1{
font-size: 1.25rem;
}

header img{
width: 12.5rem ;
}

header nav{
  border-top: solid 1px;
  border-color: gray;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}

nav :hover{
  color: rgb(255, 0, 0);
}

footer{
  border-top: solid 1px white;
  margin-top: 6rem;
  background-color: black;
}

.foot{
  text-align: start;
  margin: 1rem;
    color: white;
}

.foot h2{
  font-size: 1rem;
}

.linkf{
  display: block;
    margin: 1rem;
}

.linkf a {
  color: #666666;
}

.linkf a:hover {
  color: #ffffff;
}

h4{
  color: #666666;
  text-align: center;
  font-size: 0.8rem;
  background-color: black;
}

#formulario-contacto {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #ccc;
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 30px;
    z-index: 10;
    margin-bottom: 15rem;
}
  
#formulario-contacto h2 {
    margin-top: 0;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #aaa;
}
  
input[type="submit"] {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

@media (max-width: 768px) {
  #formulario-contacto {
    width: 90%;
    padding: 1rem;
    margin: 1.5rem auto;
    top: 0;
    margin-bottom: 15rem;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 1rem;
  }

  input[type="submit"] {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem;
  }

}
